button {
  width: 14em;
  height: 5em;
  word-wrap: break-word;
  text-align: center;
  vertical-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 599px) {
  button {
    font-size: x-small;
  }
}
