:host {
  width: calc(100%);
  height: calc(100%);
}

div.tile {
  width: calc(100%);
  height: calc(100%);

  color: white;
  border: solid black 1px;
  text-align: center;
  padding: 2px;

  cursor: pointer;

  white-space: normal !important;
  word-break: break-word;
}

div.tile.selected {
  background-color: crimson;
}

div.tile.unselected {
  background-color: #1976d2;
}

/* Responsive Styles */
@media screen and (max-width: 720px) {
  div.tile {
    font-size: smaller;
  }
}
