<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>{{ title }}</span>
</div>

<!-- Content -->
<div class="content" role="main">

  <!-- About the contest -->
  <h2>Soutěž pro Development craft meetup</h2>
  <p>
    Na&nbsp;těchto stránkách bude v&nbsp;den konání meetupu zpřístupněna soutěž o&nbsp;hodnotné ceny - tzv. <strong>&quot;{{ title }}&quot;</strong>.
  </p>
  <br />
  <p>
    Buzzword Bingo! se hraje na&nbsp; 5x5, ve&nbsp;kterých je celkem 25 různých buzzwords (předgenerované, ale můžete upravit a použít vlastní slova).
    V&nbsp;průběhu prezentací pak stačí bedlivě poslouchat a postupně na&nbsp;hracím poli odškrtávat políčka vyslovených buzzwordů.
    Jakmile získáte řadu 5 (vodorovně, svisle nebo úhlopříčně), stačí kliknout na&nbsp;aktivované tlačítko &quot;Odeslat&quot; a váš ticket předat na&nbsp;slosování.
  </p>
  <p class="seemore">
    <a href="https://en.wikipedia.org/wiki/Buzzword_bingo" target="_blank"><em>více informací na wikipedia.org</em></a>
  </p>
  <br />
  <p>
    Pro účast v&nbsp;soutěži je potřeba vyplnit do&nbsp;formuláře Váš pracovní ČS email a příběh. Jaký? Zamyslete se a podělte se
    o&nbsp; příběh z&nbsp;Vaší minulosti v&nbsp;ČS, kdy se Vám nebo Vašemu týmu něco nepovedlo a jaké jste si z&nbsp;toho odnesli ponaučení.
  </p>
  <br />
  <div class="card card-large story">
    Na projektu Partner24 jsem těsně před releasem nového modulu pro GDPR v rámci code-review zjistil, že mezimodulové volání
    REST služeb není nijak zabezpečeno. Jednoduchá konfigurace SpringSecurity v modulech zapnula autentizaci/autorizaci. Provedl jsem test na DEV prostředí
    a vše se jevilo v pořádku. S bláhovou myšlenkou, že jde jen o změnu konfigurace a že v testech se vše před releasem ještě ověří, jsem odjel na zaslouženou dovolenou.
    Netřeba dodávat, že kolegové o týden později s přípravou release a nasazením zažili perné chvilky, neboť bez jakýchkoliv velkých změn najednou klíčové REST volání
    vlivem zapnuté security a specifikům produkčního prostředí přestaly fungovat, přitom z důvodu fallbacku toto nezpůsobovalo chybu aplikace a jen provedlo zalogování.
    <div class="signature">[T.Janků, Java Chapter-lead]</div>
  </div>

  <!-- Countdown -->
  <div class="card-container" *ngIf="! enabledBingoFlag">
    <countdown units="Hours | Minutes | Seconds"  [end]="dateOfStart" (reached)="enableBingo()"></countdown>
  </div>

  <!-- Registration form -->
  <div class="card-container">
    <form class="registration-form">
      <mat-form-field>
        <input matInput placeholder="Email" type="email" required email [formControl]="emailFormControl"
               (ngModelChange)="emailChanged($event)">
        <mat-error *ngIf="emailFormControl.hasError('email') || emailFormControl.hasError('pattern') || emailFormControl.hasError('required')">
          Uveďte email v doméně @csas.cz nebo @ext.csas.cz.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="FuckUp příběh" rows="6" required [formControl]="fuckUpFormControl"
                  (ngModelChange)="fuckupChanged($event)"></textarea>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Podělit se o nějakou životní programátorskou lekci je povinné.
        </mat-error>
      </mat-form-field>

      <br />

      <!-- Bingo -->
      <div *ngIf="enabledBingoFlag">
        <app-bingo [bingo]="bingo" fxFlex="1 1 50em" fxFlex.xs="1 1 30em" (isBingoEmitter)='handleBingo($event)'></app-bingo>
      </div>

      <!-- Submit -->
      <button *ngIf="enabledBingoFlag" mat-raised-button color="primary"
              [disabled]="bingoForm.invalid || !isBingo" fxLayoutGap="1em">Odeslat</button>

    </form>
  </div>

</div>

