<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>{{ title }}</span>
</div>

<!-- Content -->
<div class="content" role="main">

  <!-- About the contest -->
  <h2>Soutěž pro Development craft meetup</h2>
  <p>
    Na&nbsp;těchto stránkách bude v&nbsp;den konání meetupu zpřístupněna soutěž o&nbsp;hodnotné ceny - tzv. <strong>&quot;Buzzword&nbsp;Bingo!&quot;</strong>.
  </p>
  <br />
  <p>
    Buzzword Bingo! se hraje na&nbsp; 5x5, ve&nbsp;kterých je celkem 25 různých buzzwords (předgenerované, ale můžete upravit a použít vlastní slova).
    V&nbsp;průběhu prezentací pak stačí bedlivě poslouchat a postupně na&nbsp;hracím poli odškrtávat políčka vyslovených buzzwordů.
    Jakmile získáte řadu 5 (vodorovně, svisle nebo úhlopříčně), stačí kliknout na&nbsp;aktivované tlačítko &quot;Odeslat&quot; a váš ticket předat na&nbsp;slosování.
  </p>
  <p class="seemore">
    <a href="https://en.wikipedia.org/wiki/Buzzword_bingo" target="_blank"><em>více informací na wikipedia.org</em></a>
  </p>

  <!-- Countdown -->
  <div class="card-container" *ngIf="! enabledBingoFlag">
    <countdown units="Hours | Minutes | Seconds"  [end]="dateOfStart" (reached)="enableBingo()"></countdown>
  </div>

  <!-- Bingo -->
  <div class="card-container" *ngIf="enabledBingoFlag">
    <app-bingo [bingo]="bingo" fxFlex="1 1 50em"></app-bingo>
  </div>

  <div class="card-container">
    <div class="card">
      test
    </div>
  </div>

</div>

